.about {
    margin-top: 170px;
    margin-bottom: -115px;
    margin-left: 40px;
}

.dropdown {
    border-radius: 5px;
    margin-bottom: 35px;
    text-align: left;
}
  
.dropdown_div {
    align-items: center;
    background-color: #FF6060;
    border-radius: 5px;
    display: inline-flex;
    height: 47px;
    width: 80%;
    margin-left: 100px;
    cursor: pointer;
}

.dropdown_title {
    font-size: 16px;
    font-weight: 500;
    color: white;
    height: 50px;
    line-height: 50px;
    margin: 5px 10px;
}

.dropdown_arrow {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    width: 100%;
}
  
.dropdown_arrow.true {
    justify-content: start;
    transform: rotate(-180deg);
}

.dropdown_description {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    background-color: #F7F7F7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #FF6060;
    height: auto;
    line-height: 30px;
    margin-left: 100px;
    width: 80%;
    padding: 30px 20px 100px 20px;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .about {
        margin: 150px 4px -115px 0;
    }

    .dropdown_div {
        width: 96%;
        margin-left: 12px;
    }

    .dropdown_description {
        font-size: 14px;
        margin-left: 12px;
        width: 96%;
        padding: 15px 20px 200px 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .about {
        margin-left: 0px;
    }
    
    .dropdown_div {
        width: 90%;
        margin-left: 60px;
    }

    .dropdown_description {
        width: 90%;
        margin-left: 60px;
    }
}