.error {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
  
.erreur {
    color: #FF6060;
    font-size: 200px;
    font-weight: 700;
    margin-top: 20px;
}
  
.erreur_description {
    color: #FF6060;
    font-size: 36px;
    margin-top: 20px;
}

.erreur_retour {
    font-size: 18px;
    color: #FF6060;
    margin-top: 100px;
}