.footer {
    height: 210px;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.footer_texte {
font-weight: 500;
font-size: 24px;
margin-top: 40px;
}