.logement_div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 25px;
    width: 100%;
}

.logement_title_tags {
    font-weight: 500;
    margin-left: 50px;
}

.logement_rate_host {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    margin-bottom: 20px;
    gap: 20px;
}

.logement_dropdown {
    width: 100%;
    margin-top: -20px;
    margin-left: -30px;
    margin-bottom: -120px;
}

.logement_dropdown ul {
    display: flex;
    margin-right: -45px;
}

.logement_dropdown li {
    width: 100%;
    margin-left: -60px;
    margin-right: -60px;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .logement_div {
        display: flex;
        flex-direction: column;
    }

    .logement_rate_host {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
        flex-direction: row-reverse;
    }

    .logement_dropdown {
        margin-top: -40px;
        margin-bottom: -140px;
        margin-left: 0px;
    }

    .logement_dropdown ul {
        display: flex;
        flex-direction: column;
        margin-right: 0;
        padding-left: 0;
    }

    .logement_dropdown li {
        margin-left: 0px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .logement_div {
        display: flex;
        flex-direction: column;
    }

    .logement_rate_host {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
        flex-direction: row-reverse;
    }

    .logement_dropdown {
        margin-top: -40px;
        margin-bottom: -140px;
        margin-left: -10px;
    }

    .logement_dropdown ul {
        display: flex;
        flex-direction: column;
        margin-right: 0;
        padding-left: 0;
    }

    .logement_dropdown li {
        margin-left: 0px;
    }
}