.logement_div {
    margin-block: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.logement_title_tags {
    font-weight: 500;
    margin-left: 50px;
}

.logement_rate_host {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap: 20px;
}

.logement_dropdown {
    width: 100%;
    margin-top: 65px;
    margin-left: -120px;
    margin-bottom: -80px;
}

.logement_dropdown ul {
    display: flex;
    margin-right: -45px;
}

.logement_dropdown li {
    width: 100%;
    margin: -60px;
}

@media screen and (max-width: 767px) {
    .logement_div {
        display: flex;
        flex-direction: column;
    }

    .logement_rate_host {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 0px;
    }

    .logement_dropdown {
        margin-top: 80px;
        margin-bottom: -200px;
        margin-left: 0px;
    }

    .logement_dropdown ul {
        display: flex;
        flex-direction: column;
        margin-right: 0;
        padding-left: 0;
    }

    .logement_dropdown li {
        margin-bottom: 60px;
        margin-left: 0px;
    }
}