.rate {
    display:flex;
    justify-content: right;
    margin-right: 50px;
    margin-top: -15px;
}

.filled_stars {
    max-width: 24px;
}

.none_filled_stars {
    max-width: 24px;
}

@media screen and (max-width: 767px) {
.rate {
    margin-left: 20px;
}
}