.tags {
  display: flex;
  gap: 10px;
}

.tag {
  background: #FF6060;
  color: white;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  padding: 5px 40px;
}

@media screen and (max-width: 768px) {
  .tags {
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: 20px;
  }

  .tag {
    padding: 5px 20px;
    font-size: 12px;
  }
}